# Decision Tree

In [1]:
#Lets import our important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Note that here we are going to work with the iris dataset
from sklearn.datasets import load_iris
dataset=load_iris()
dataframe=pd.DataFrame(dataset["data"],columns=dataset["feature_names"])
dataframe["Class"]=dataset["target"]
#Above we have just finished the formation of our dataset. Lets get the training and test sets.
featureData=dataframe[dataset["feature_names"]]
targetData=dataframe["Class"]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(featureData,targetData,random_state=0)
#Lets begin with the model
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,y_train)
#Lets just test the model
print("The training set accuracy is ",model.score(x_train,y_train))
print("The test set accuracy is ",model.score(x_test,y_test))

The training set accuracy is  1.0
The test set accuracy is  0.9736842105263158

Since the test set accuracy is low, though training set accuracy is 100%, the model is overfitting. This can be sorted out with the methods we have discussed in the end such as max_depth and etc. Lets see its application below.

In [3]:
model2=DecisionTreeClassifier(max_depth=3)
model2.fit(x_train,y_train)
print("The training set accuracy is ",model2.score(x_train,y_train))
print("The test set accuracy is ",model2.score(x_test,y_test))

The training set accuracy is  0.9821428571428571
The test set accuracy is  0.9736842105263158

As observable the dataset doesn't seem to fi

In [4]:
#Below nothing is important

In [5]:
featureData

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [6]:
targetData

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Class, Length: 150, dtype: int32

In [7]:
dataframe.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [8]:
#The features our iris dataset are as follows
dataset.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [9]:
dataset["feature_names"]

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']